/* styles for travel screen module */
@travel-canvas-h: 600px;

#travel-screen-wrapper{
  position: relative;
  width: 100%;
  height: @travel-canvas-h;
}

.stack{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

#travelCanvas{
  .stack;
  background-color: black;
  background-image: url("assets/backgrounds/milky_way_bg.png");
  z-index: 1;
}

#travel-ui{
  .stack;
  z-index: 2;
  width:100%;
  height:100%;
}

.health-bar {
  width: 50%;
}
