#image-container {
  position: relative;
  height: 600px;
  width: 100%;
}

.text {
  color: white;
  font-size: 3em;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 50%;
  line-height: 1em;
  width: 48%;
}

.image-2 img {
  position: absolute;
  top: 60%;
  left: 5%;
}

.image-3 img {
  position: absolute;
  top: 55%;
  left: 25%;

}

.image img {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 35%;
}

.image-2 {
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
  }
=======
  color: red;
>>>>>>> 8735de351c9473557b1f390ae7f33c2c804edf81
}
