/* TODO: make the positioning relative instead of absolute */

#image-container {
  position: relative;
  height: 600px;
  width: 100%;
}

.game-module .container {
  margin-right: initial;
  margin-left: initial;
}

.text {
  color: white;
  font-size: 3em;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 37%;
  line-height: 1em;
  width: 48%;
  margin-left: 12%;
  margin-top: 2%;
}

.spaceman img {
  position: absolute;
  top: 25%;
  left: 15%;
}

.spaceman-2 img {
  position: absolute;
  top: 65%;
  left: 50%;
}

.spaceman-3 img {
  position: absolute;
  top: 65%;
  left: 20%;
}

.spacecraft img {
  position: absolute;
  top: 35%;
  left: 8%;
  width: 35%;
}

.spacecraft {
  -webkit-animation: jump 10s infinite linear;
  animation: jump 20s infinite linear;
}

@-webkit-keyframes jump {
  0%   { -webkit-transform: translate(0em, 0em);}
  50% { -webkit-transform: translate(0em, -3em);}
  75% { -webkit-transform: translate(0em, 3em);}
  100% { -webkit-transform: translate(0em, -1.5em);}
}

.spaceman {
  -webkit-animation: spin 8s infinite linear;
  animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg)}
}

.spaceman-2 {
  -webkit-animation: float-right 45s infinite linear;
  animation: float 45s infinite linear;
}

@-webkit-keyframes float-right {
  0%   { -webkit-transform: rotate(180deg) translate(-3em, -3em);}
  15%   { -webkit-transform: rotate(360) translate(-1em, -1em);}
  30% { -webkit-transform: rotate(90deg) translate(2em, -6em);}
  55% { -webkit-transform: rotate(180deg) translate(1em, -3em);}
  70% { -webkit-transform: rotate(360deg) translate(-3em, -1em);}
  85% { -webkit-transform: rotate(180deg) translate(1em, -2em);}
  100% { -webkit-transform: rotate(90deg) translate(1em, 4em);}
}


.spaceman-3 {
  -webkit-animation: float-left 45s infinite linear;
  animation: float 45s infinite linear;
}

@-webkit-keyframes float-left {
  0%   { -webkit-transform: rotate(-360deg) translate(-5em, -5em);}
  15%   { -webkit-transform: rotate(-180) translate(0em, 0em);}
  30% { -webkit-transform: rotate(-90deg) translate(-1em, -1em);}
  55% { -webkit-transform: rotate(-180deg) translate(0em, 0em);}
  70% { -webkit-transform: rotate(-360deg) translate(0em, -2em);}
  85% { -webkit-transform: rotate(-180deg) translate(1em, -em);}
  100% { -webkit-transform: rotate(-90deg) translate(-2em, 0em);}
}
