.shop-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#date {
  display: block;
}

.active-item {
  order: 1;
  flex: 0 0 auto;
}

.storefront {
  order: 2;
  flex: 1 0 auto;
  display: inline-block;
}

.item-list {
  background-color: #BDC3C7;
  margin: 1em;
  display: table;
}

.item-container {
  width: 20em;
  height: 20em;
  background-color: #ECF0F1;
  box-shadow: 3px 3px 2px #82888c;
  margin: 2em;
  position: relative;
  display: inline-block;
  border-radius: 1ch;
}

.item-container-selected {
  border: solid #76A7CE;;
  box-shadow: 0 0 40px 3px #76A7CE;
}

.item-contents {
  display: table;
  margin: 0 auto;
}

.item-buy {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.item-description {
  width: 100%;
  padding: 1em;
  position: absolute;
  display: block;
  bottom: 0;
}

hr {
  border-top: 1px solid #2C3E50;
}
